%h2 List of Shortened Urls
=link_to 'New', new_short_url_path, class: 'btn btn-link'
=link_to 'Upload CSV', upload_urls_short_urls_path, class: 'btn btn-link'

%table.table.table-striped
  %thead
    %tr
      %th Added Urls
      %th Shortened Url
  %tbody
    -@url_data.each do |url_datum|
      %tr
        %td
          .list-group
            -url_datum.original_urls.each do |url|
              %a{href: 'http://'+url_datum.mapped_url}= url
              |
        %td
          %a{href: '/' + url_datum.shortened_url}= url_datum.shortened_url
