%br
%br
= form_for(@url_datum, url: '/short_urls', html: {class: 'form form-horizontal'}) do |f|
  - if @url_datum.errors.any?
    #error_explanation
      %h2
        = pluralize(@url_datum.errors.count, "error")
        prohibited this URL from being saved:
      %ul
        - @url_datum.errors.full_messages.each do |msg|
          %li= msg
  .field.form-group
    = f.label :URL, class: 'control-label col-sm-2 col-md-2 col-md-offset-1'
    .col-sm-10.col-md-5
      = f.text_field :url, class: 'form-control'

  .form-group
    .col-sm-offset-2.col-sm-10.col-md-offset-3
      = f.submit 'Generate', class: 'btn btn-primary'
