%br
=link_to 'Home', root_path
%table.table.table-striped
  %thead
    %tr
      %th Added Urls
      %th Shortened Url
  %tbody
    %tr
      %td
        .list-group
          -@url_datum.original_urls.each do |url|
            %a{href: 'http://'+@url_datum.mapped_url}= url
      %td
        %a{href: '/' + @url_datum.shortened_url}= @url_datum.shortened_url
