%h2 Upload CSV
%br
%br
= form_tag(create_uploaded_urls_short_urls_path, multipart: true, class: 'form form-horizontal') do |f|
  .field.form-group
    = label_tag :upload_csv, 'Upload CSV', class: 'control-label col-sm-2 col-md-2 col-md-offset-1'
    .col-sm-10.col-md-5
      = file_field :short_url, :csv_file, required: true, class: 'form-control'
  %br
  %br
  .form-group
    .col-sm-offset-2.col-sm-10.col-md-offset-3
      = submit_tag 'Upload', class: 'btn btn-primary'
